@import "./../../global-styles/variables.scss";
@import "./../../global-styles/mixins.scss";
@import "./../../global-styles/animations.scss";

.mobile-menu {
    height: 100vh;
    width: 100%;

    background-color: rgba(2, 2, 2, 0.822);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;

    // animation: expandFromRight 0.5s ease-out 0s backwards;

    nav {
        width: 100%;
        height: 100%;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin: 5rem 0;

                a {
                    color: white;
                    font-size: 3rem;

                    background-color: transparent;

                    &:hover {
                        color: $text-color;
                    }
                }
            }
        }
    }
}
