@import "../../../global-styles/variables.scss";
@import "../../../global-styles/mixins.scss";

.section {
    padding: 8rem;

    @include respond(mobile) {
        padding: 3rem;
    }
    h2 {
        margin: 5rem auto;
        max-width: 700px;
        text-align: center;
    }
}

.list {
    list-style: none;

    li {
        background-color: $text-color-secondary;
        border-radius: 20px;
        min-height: 200px;

        @include respond(mobile) {
            min-height: 150px;
        }

        padding: 30px;

        h3 {
            color: $text-color;
        }

        p {
            color: white;
        }
    }
}
