@import "./../../../global-styles/variables.scss";
@import "./../../../global-styles/mixins.scss";
@import "./../../../global-styles/animations.scss";

.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;

    background: linear-gradient(to right, black, rgba(0, 0, 0, 0.61));
}

.title {
    color: $text-color;
}

.text {
    width: 50%;
    color: $text-color-tertiary;
}
@include respond(tablet-portrait) {
    .text {
        width: 100%;
    }
}

.bg {
    z-index: -1;
}
