@import "./../../global-styles/variables.scss";
@import "./../../global-styles/mixins.scss";

.section {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    align-items: center;

    h2 {
        font-weight: 700;
    }

    p {
        max-width: 70rem;
    }
}

.arrow-wrapper {
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    &:hover .arrow {
        font-size: 4rem;
    }
}

.arrow {
    color: black;
    font-size: 3rem;
    padding-top: 3rem;
    animation: fadeInUp 1.5s ease-out 2.5s backwards;

    transition: all 0.3s;
}
