.btn {
    display: inline-block;
    padding: 13px 25px;
    margin-top: 20px;
    background-color: $text-color;
    color: black;
    border-radius: 100px;

    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.205);

    font-weight: bold;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.205);
    }
    transition: all 0.1s;
}
